body {
    text-align: center;

}

#widshow {
    display:inline;
    /* display는 보여지는 위치, grid는 간격 */
}

.email {
    text-align: right;
}

.card {
    font-size: 15px;
}

.card_img {
    width: 100px;
    height: 100px;
}

.card_title {
    font-size: 20;
}

.card_detail {
    font-size: 12;
    text-align: left;
}

.card_button {
    background-color: white;
    border-radius: 5px;
    border-color: gray;
    font-size: 15px;
    width: 60px;
    height: 20px;
    color:rgb(40, 173, 13);
}